﻿<label>Select a repository to manage: </label>
<div>
    <select ng-model="vmRoles.repo" ng-options="repo as repo.name for repo in vmRoles.repositories" ng-change="vmRoles.setCurrentProjectAndGetCollaborators(vmRoles.repo)">
        <option value="">---Please select---</option>
    </select>
</div>