﻿<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{message}}</h1>
                    <div>{{error}}</div>
                    <div ng-include="'FrontEnd/src/client/app/roles/reposdetails.html'"></div>
                    <div ng-include="'FrontEnd/src/client/app/roles/collaboratorsdetails.html'" ng-show="!!vmRoles.repo"></div>
                </div>
            </div>
        </div>
    </section>
</section>
