<div ng-controller="ShellController as vmShell">
    <header class="clearfix">
        <ht-top-nav navline="vm.navline"></ht-top-nav>
    </header>
    <section id="content" class="content">
        <div ng-include="'FrontEnd/src/client/app/layout/sidebar.html'"></div>

        <div ui-view class="shuffle-animation"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vmShell.busyMessage}}</div>
        </div>
    </section>
</div>
