﻿<form role="form">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Login with other services</h2>
            <button class="btn btn-large btn-block" type="button" data-ng-click="authExternalProvider('GitHub')">Connect with GitHub</button>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>
