﻿<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{message}}</h1>
                    <div>{{error}}</div>
                    Enter github user name:
                    <form name="searchUser" ng-submit="vmRepos.search(vmRepos.username)">
                        <input type="search" required placeholder="Username to find" ng-model="vmRepos.username">
                        <input type="submit" value="Search">
                    </form>
                    <div ng-include="'FrontEnd/src/client/app/repos/userdetails.html'" ng-show="vmRepos.user"></div>
                </div>
            </div>
        </div>
    </section>
</section>
