﻿<div>
    <h2>{{vmRepos.user.name}}</h2>
    <img ng-src="{{vmRepos.user.avatar_url}}" title="{{vmRepos.user.name}}">
    <br> Order by:
    <select ng-model="vmRepos.repoSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
    </select>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in vmRepos.repos | orderBy:vmRepos.repoSortOrder">
            <td>{{repo.name}}</td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </tbody>
</table>